#archetype-block{
    padding-top: 10px;
    padding-bottom: 10px;
}

#archetype-name{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 4px;
}

#archetype-description{
    font-family: 'Arial';
    margin-bottom: 10px;
    margin-left: 4px;
    max-width: 500px;
}

#archetype-examples{
    span{
        margin-right: -60px;
        position: relative;

        &:hover{
            z-index:1;
        }
    }
    
    img{
        width: 200px;
        border-radius: 9px;
        box-sizing: border-box;

        &:hover{
            border: 1px solid rgb(41, 99, 192);
        }
    }
}